resources/log4j2.dtd

<!ELEMENT Configuration (Appenders,Loggers)>
<!ATTLIST Configuration status NMTOKEN #REQUIRED>
<!ELEMENT Appenders (Console,File)>
<!ELEMENT Console (PatternLayout)>
<!ATTLIST Console name NMTOKEN #REQUIRED>
<!ATTLIST Console target NMTOKEN #REQUIRED>
<!ELEMENT PatternLayout EMPTY>
<!ATTLIST PatternLayout pattern CDATA #REQUIRED>
<!ELEMENT File (#PCDATA)>
<!ELEMENT Loggers (#PCDATA)>